body{
    background-color: darkred;
}
.encabezado{
    font-size: 300%;
    text-align: center;
    font-family: "Arial Black";
    color: floralwhite;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: floralwhite;
    width:90%;
    white-space: nowrap;
    padding:10px;
    margin:auto;
}
.barra > a{
    text-decoration: none;
    color: floralwhite;
}
.formulario{
    text-align: center;
    align-content: center;
    font-family: "Arial";
    position: relative;
}